<f:layout name="Default" />

<f:section name="main">
    <h3>Weather Dashboard - Install Default Theme </h3>
    <p>
        Install the default theme
    </p>

    <form action="" method="post">
        <input type="hidden" value="true" name="installDefaultTheme" />
        <input type="submit" value="Go !" />
    </form>

    <f:if condition="<f:count subject='{files.assets}' /> > 0">
        <h4>Theme files copied</h4>
        <ul>
            <f:for each="{files.assets.css}" as="file">
                <li>
                    {file.message}
                </li>
            </f:for>
            <f:for each="{files.assets.js}" as="file">
                <li>
                    {file.message}
                </li>
            </f:for>
        </ul>
    </f:if>

    <f:if condition="<f:count subject='{images}' /> > 0">
        <h4>Images Downloaded</h4>
        <ul>
            <f:for each="{images}" as="image">
                <li>
                    {image.icon}
                </li>
            </f:for>
        </ul>
    </f:if>

    <f:if condition="<f:count subject='{aFilesGenerated}' /> > 0">
        <h4>Files generated </h4>
        <ul>
            <f:for each="{aFilesGenerated}" as="file">
                <li>
                    {file.message}
                </li>
            </f:for>
        </ul>
    </f:if>

    <f:link.action action="list">back to list</f:link.action>
</f:section>