<f:layout name="Default" />

<f:section name="main">
    <h3>Weather Dashboard</h3>
    <f:if condition="<f:count subject='{themes}' /> > 0">
        <h4>Available Themes</h4>
        <f:for each="{themes}" as="theme">
            <form action="<f:uri.action action='detail'></f:uri.action>" method="post" class="themeList">
                <input type="hidden" value="{theme.basename}" name="theme" />

                <input type="submit" value="{theme.basename}" />
            </form>
        </f:for>
    </f:if>

    <f:link.action action="installDefaultTheme">install Default Theme</f:link.action>
    <br />
    <f:link.action action="uploadTheme">upload Custom Theme</f:link.action>
    <br />
    <br />
    <f:link.action action="getIcons">reload default icons</f:link.action>
</f:section>