.default .black
{
    background: #000;
    width: 50px;
    height: 50px;
}

.default .icons
{
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: block;
}

.default .days
{
    float: left;
}

.stretcher
{
    clear: both;
}

